{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">My Petitions</h2>
    <div class="btn-group mb-4" role="group" aria-label="Filter petitions">
        <button type="button" class="btn btn-primary" style="margin-right: 10px;" onclick="">All</button>
        <button type="button" class="btn btn-secondary" style="margin-right: 10px;" onclick="">Active</button>
        <button type="button" class="btn btn-danger" onclick="">Closed</button>
    </div>
    <div class="row" id="petitions-container">
        {% for petition in petitions %}
        <div class="col-md-12 mb-4">
            <div class="card d-flex align-items-center">
                <!-- Card content -->
                {% include 'components/card.html' %}
                <!-- Icons for edit and delete next to the image -->
                <div class="ml-auto p-2">
                    <a href="{{ url_for('edit_petition', petition_id=petition.id) }}" class="text-primary mr-2" aria-label="edit petition">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="#" class="text-danger delete-btn" data-id="{{ petition.id }}" aria-label="delete petition">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="{{ url_for('static', filename='js/delete_petition.js') }}"></script>

{% endblock %}
