{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Sign Up</h2>
        <form method="POST" action="{{ url_for('signup') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control", type="email") }}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control") }}
                <div id="passwordStrengthBarContainer" class="mt-2">
                    <div id="passwordStrengthBar" style="height: 5px; width: 100%; background-color: #e0e0e0;">
                        <div id="passwordStrengthFill" style="height: 100%; width: 0%; background-color: #28a745;"></div>
                    </div>
                </div>
                <small id="passwordRequirements" class="form-text text-muted">
                    Your password should meet the following criteria:
                </small>
                <ul id="passwordCriteria" class="list-unstyled">
                    <li id="criteriaLength" class="text-danger">At least 8 characters long</li>
                    <li id="criteriaLowercase" class="text-danger">Contains a lowercase letter</li>
                    <li id="criteriaUppercase" class="text-danger">Contains an uppercase letter</li>
                    <li id="criteriaNumber" class="text-danger">Contains a number</li>
                    <li id="criteriaSpecial" class="text-danger">Contains a special character</li>
                </ul>
            </div>
            <div class="form-group">
                {{ form.confirm_password.label }}
                {{ form.confirm_password(class="form-control") }}
            </div>
            {{ form.submit(class="btn btn-primary", id="signUpButton", disabled="disabled") }}
        </form>
    </div>
</div>
<script src="{{ url_for('static', filename='js/password_strength.js') }}"></script>
{% endblock %}
